:root {
  --main-background: #e0e0e0;
  --main-light: #dbf7fe;
  --main-dark: #121212;
  --secondary-dark: #3a3a3a;
  --third-dark: #374545;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-background);
  font-family: "Roboto", sans-serif;
}

.container {
  flex: 1;
}

/* -------------------------- header --------------------------  */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--secondary-dark);
}

.header h1 {
  font-size: 2em;
  padding-top: 10px;
  margin: 0;
  font-weight: 900;
}

.header__logo {
  width: 150px;
}

.ambiance-title {
  color: var(--secondary-dark);
}

/* -------------------------- Timers  --------------------------  */

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 30px;
}

.timer {
  display: flex;
  align-items: center;
  padding: 40px 0;
  font-size: 80px;
  color: var(--third-dark);
  font-weight: 600;
}

.timer-info {
  font-size: 36px;
  padding: 50px 0;
}

/* -------------------------- UI elements --------------------------  */

.buttons-container {
  display: flex;
  gap: 20px;
}

.main-session-button {
  cursor: pointer;
  color: var(--secondary-dark);
  padding: 0.728em 1.768em;
  font-size: 18.72px;
  border-radius: 0.52em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6.24px 6.24px 12.48px #c5c5c5, -6.24px -6.24px 12.48px #ffffff;
}

.main-session-button:active {
  color: #666;
  box-shadow: inset 5.2px 5.2px 15.6px #c5c5c5,
    inset -5.2px -5.2px 15.6px #ffffff;
}

.button {
  cursor: pointer;
  color: var(--secondary-dark);
  padding: 0.56em 1.36em;
  font-size: 14.4px;
  border-radius: 0.4em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 4.8px 4.8px 9.6px #c5c5c5, -4.8px -4.8px 9.6px #ffffff;
}

.button:active {
  color: #666;
  box-shadow: inset 3.2px 3.2px 9.6px #c5c5c5, inset -3.2px -3.2px 9.6px #ffffff;
}

.ambiance-container {
  display: flex;
  gap: 20px;
  padding: 20px 0 0 0;
}
.ambiance-title {
  font-weight: 700;
}

.ambiance {
  width: 80px;
  height: 80px;
  cursor: pointer;
  color: var(--secondary-dark);
  padding: 0.6em 0.6em;
  font-size: 14px;
  border-radius: 1.2em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 4.8px 4.8px 9.6px #c5c5c5, -4.8px -4.8px 9.6px #ffffff;
}

.ambiance.active {
  color: #666;
  box-shadow: inset 3.2px 3.2px 9.6px #c5c5c5, inset -3.2px -3.2px 9.6px #ffffff;
}

.hidden {
  visibility: hidden;
}

.displaynone {
  display: none;
}

/* --------------------------Footer --------------------------  */

.footer {
  background-color: var(--third-dark);
  padding: 10px 0;
  width: 100%;
}

/* -------------------------- Mobile --------------------------  */

@media only screen and (max-width: 600px) {
  .timer-container {
    padding: 30px 0;
  }

  .ambiance {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 0.4em 0.4em;
  }
}
